span.frac {
	display: inline-block;
	text-align: center;
}
span.frac > sup {
	display: block;
	border-bottom: 1px solid;
	font: inherit;
}
span.frac > span {
	display: none;
}
span.frac > sub {
	display: block;
	font: inherit;
}