footer.page-footer.bg-transparent
    .footer-copyright.text-center.py-3 
        img.img-fluid(src="/Images/index.png", width="60")
        p &copy; #{new Date().getUTCFullYear()} Math Calculator. All rights reserved.
            