nav.navbar.navbar-expand-xl.navbar-dark.bg-dark.sticky-top
    .container-fluid 
        a.navbar-brand(href='/') 
            img.img-fluid(src="/Images/index.png", width="32")
            | Math Calculator
        #navbar.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.dropdown.position-relative.top-10
                    a.nav-link(type="button", id="navbarCommands", href='/pq') #[i.fas.fa-code] PQ-Formula