doctype html
head
    include Includes/header
    link(rel="stylesheet", href="/CSS/pq.css")
    script(src="/JS/pq.js", defer)
body 
    #loader-wrapper
        #loader
        .loader-section.section-left
        .loader-section.section-right
    include Includes/navbar
    .jumbotron.text-center.bg-transparent
        img.img-fluid(src="/Images/index.png", width="128")
        h1.display-3 PQ-Formula
        p.lead
            img.img-fluid(src="https://wirtschaftslexikon.gabler.de/sites/default/files/styles/keyword/public/images/wilex/74524.png?itok=aygS1Z3F")
        p.lead(id="error", style="color: red;") 
        .d-flex.justify-content-center 
            form
                .input-group.mb-3
                    span.input-group-text x 
                        sup 2 
                    span.input-group-text +
                    input.form-control(type="text", placeholder="p", name="p", id="p", required, autocomplete="off", size="3", value=pInput)
                    span.input-group-text x
                    span.input-group-text +
                    input.form-control(type="text", placeholder="q", name="q", id="q", required, autocomplete="off", size="4", value=qInput)
                    span.input-group-text =
                    span.input-group-text 0
                    button.btn.btn-success(type="button", id="submitButton") #[i.fas.fa-calculator]
        p(id="answer")

    include Includes/footer